/*  News card image styling */
.news-card-img {
    width: 100%; /* Set width of img to fit container 100% */
    height: 250px; /* Set img height */
    /* object-fit: contain; Crop image to fit container */
}

/* News card styling */
.news-card {
    background-color: #1A6A5A; /* Background color*/
    border-radius: 20px; /* Rounding corners */
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.1); /* Shadow around card */
    overflow: hidden; /* Ensures the img stays within the rounded corners */
}

.news-card:hover {
    transform: scale(1.05); /* Add transform effect to make card larger when hovered */
}

/*  News card title */
.news-card-title {
    font-size: 1.5rem; /* Increase font-size */
    font-weight: bold; /* Make text bold */
    color: #E9C46A; /* Change text color */
    margin-bottom: 10px; /* Add space at bottom */
}

/* News card description */
.news-card-description {
    font-size: 1rem; /* Set font-size */
    color: white; /* Change text color */
    margin-bottom: 10px; /* Add space at bottom */
}

/* Read more button */
.read-more-btn {
    font-weight: bold; /* Make text bold */
    text-decoration: none; /* Remove underline for link */
    color: #E76F51; /* Change text color */
}

.read-more-btn:hover {
    color: #C7533F; /* Change text color on hover */
}

.news-card-details {
    padding: 12px; /* Add spacing around the news card details container*/
}