/*  News card image styling */
.news-card-img {
    width: 100%; /* Set width of img to fit container 100% */
    height: 250px; /* Set img height */
    object-fit: contain; /* Crop image to fit container */
}

/* News card styling */
.news-card {
    background-color: #1A6A5A; /* Background color*/
    border-radius: 20px; /* Rounding corners */
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.1); /* Shadow around card */
}

.news-card:hover {
    transform: scale(1.05);
}


