/*  News card image styling */
.news-card-img {
    width: 100%; /* Set width of img to fit container 100% */
    max-height: 200px; /* Set max height for img */
    object-fit: cover;  /*Ensure img fills container completely */
}

/* News card styling */
.news-card {
    background-color: #1A6A5A; /* Background color*/
    border-radius: 20px; /* Rounding corners */
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.1); /* Shadow around card */
    overflow: hidden; /* Ensures the img stays within the rounded corners */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:500px;
}

.news-card:hover {
    transform: scale(1.05); /* Add transform effect to make card larger when hovered */
}

/*  News card title */
.news-card-title {
    font-size: 1.5rem; /* Increase font-size */
    font-weight: bold; /* Make text bold */
    color: #E9C46A; /* Change text color */
    margin-bottom: 10px; /* Add space at bottom */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Show '...' for overflow */
    display: -webkit-box; /* Necessary for text truncation */
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical; /* Enable vertical box layout */

    /* Standard line clamp for browsers that don't support Webkit */
    line-clamp: 2; /* Limit to 2 lines */
    box-orient: vertical; /* Necessary for truncation  */
}

/* News card description */
.news-card-description {
    font-size: 1rem; /* Set font-size */
    color: white; /* Change text color */
    margin-bottom: 10px; /* Add space at bottom */
    overflow: hidden; /* Prevent content overflow */
    display: -webkit-box; /* Added for text truncation */
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical; /* Necessary for truncation */

    /* Standard line clamp for browsers that don't support Webkit */
    line-clamp: 3; /* Limit to 3 lines */
    box-orient: vertical; /* Necessary for truncation  */
}

/* Read more button */
.read-more-btn {
    margin-top: auto; /* Push the button to the bottom */
    font-weight: bold; /* Make text bold */
    text-decoration: none; /* Remove underline for link */
    color: #E76F51; /* Change text color */
    display: inline-block;
}

.read-more-btn:hover {
    color: #C7533F; /* Change text color on hover */
}

/* news-card-details styling */
.news-card-details {
    padding: 1rem;
    flex-grow: 1; /* Makes content expand to fill space */
    display: flex; /* Added flexbox for centering content */
    flex-direction: column; /* Stack title, description, and link */
    justify-content: space-between; /* Space between elements */
}

